.logo {
  margin-top: 10px;
  padding-left: 40px;
}

.lan-dropdown {
  width: 15px;
}

.header {
  display: flex;
  color: white;
  justify-content: space-between;
  z-index: 100;
  position: absolute;
  width: 100%;
  @media only screen and (max-width: 768px) {
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .ant-drawer .ant-menu-vertical {
    border-right: none;
  }
}

.header .nav a{
  color: inherit;
  font-weight: 300;
  margin-right: 30px;

  text-transform: uppercase;
}
